<div class="header-body-menu">
  <header class="header">
    <div class="header-container">
      <a class="logo" href="./index.html"><div class="logo"></div> </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="home-link nav-link" href="./index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="shopping-list-link nav-link" href="./shopping-list.html"
              >SHOPPING LIST<svg
                class="shopping-link-icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="auth-link nav-link" href="./authorization.html">AUTH</a>
          </li>
        </ul>
      </nav>

      <div class="checkbox">
        <!-- light -->
        <label id="switch" class="switch" aria-label="Theme color switcher">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
      </div>

      <button
        class="burger-menu-btn btn-active"
        type="button"
        aria-label="Open page menu"
      >
        <svg class="header-svg-burger" width="28" height="28">
          <use href="./images/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <button
        class="x-cross-menu-btn"
        type="button"
        data-is-open
        aria-label="close page menu"
      >
        <svg class="x-cross-btn-svg" width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
  </header>

  <div class="backdrop-menu">
    <div class="nav-container">
      <nav class="nav-mobil">
        <ul class="nav-list-mobil">
          <li class="nav-item-mobil">
            <a class="home-link-mob" href="./index.html">HOME</a>
          </li>
          <li class="nav-item-mobil">
            <a class="shopping-list-link-mob" href="./shopping-list.html"
              >SHOPPING LIST<svg
                class="shopping-link-icon-mob"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <img
        class="burger-menu-photo"
        src="./images/books-mobile-menu.png"
        alt="books"
      />
    </div>
  </div>
</div>
