<div class="backdrop-pop-up is-hidden" data-pop-up data-modal>
    <div class="modal-pop-up">
        <button type="button" class="close-button" aria-label="Close" data-modal-close>
            <svg class="close-button__icon" width="24" height="24">
                <use class="icon-x-close" href="./images/icons.svg#icon-x-close"></use>
            </svg>
        </button>

        <div class="modal-pop-up-content"></div>

        <button type="button" class="modal-pop-up-btn button">
            Add to shopping list
        </button>
    </div>
    <script type="module" src="../js/modal.js"></script>
</div>