<div class="backdrop-pop-up is-hidden" data-pop-up data-modal>
  <div class="modal-pop-up">
    <button
      type="button"
      class="close-button"
      aria-label="Close"
      data-modal-close
    >
      <svg class="close-button__icon" width="24" height="24">
        <use class="icon-x-close" href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="modal-pop-up-content"></div>

    <div class="modal-pop-up-message-box">
      <p class="modal-pop-up-message hidden">
        You have added the book to the <a class="modal-link-to-list" href="./shopping-list.html">shopping list</a>. 
      </p>
    </div>
    
    <button 
      aria-label="add or remove book from the shopping list" 
      type="button" 
      class="modal-pop-up-btn button">
      Add to shopping list
    </button>
  </div>
</div>
