<!-- <div class="funds-container mySwiper">
  <h3 class="funds-title">
    Support Ukraine<svg class="ukraine-logo" width="20" height="32">
      <use href="../images/icons.svg#icon-ukraine"></use>
    </svg>
  </h3>
  <div class="funds-list swiper-wrapper"></div>
  <div class="swiper-button-next">a</div>
  <div class="swiper-button-prev">b</div>
</div> -->

<div class="funds-container">
  <h3 class="funds-title">
    Support Ukraine<svg class="ukraine-logo" width="20" height="32">
      <use href="../images/icons.svg#icon-ukraine"></use>
    </svg>
  </h3>
  <div class="mySwiper swiper">
    <div class="swiper-wrapper"></div>
    <button type="button" class="swiper-button-next next-btn">a</button>
    <button type="button" class="swiper-button-prev prev-btn">b</button>
  </div>
</div>
