.categories-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    width: 335px;
    height: 228px;
}

.category-item {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
}
.dark .category-item {
    color: rgba(255, 255, 255, 0.6);
}

.category-button {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: color, .25s ease-in-out;
}

.dark .category-button {
    color: rgba(255, 255, 255, 0.6);
}

.js-current-category {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #4f2ee8;
    transition: color, .25s ease-in-out;
}
.dark .js-current-category {
    color: #eac645;
}

@media screen and (min-width: 768px) {
.categories-list {
    width: 337px;
    height: 472px;
}

.category-item {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
}

.category-button {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: color, .25s ease-in-out;
}

.js-current-category {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #4f2ee8;
    transition: color, .25s ease-in-out;
}
}

@media screen and (min-width: 1440px) {
.categories-list {
    width: 356px;
    height: 472px;
    }
        
.category-item {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
    }

.category-button {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: color, .25s ease-in-out;
}  

.js-current-category {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #4f2ee8;
    transition: color, .25s ease-in-out;
    }
}