.header {
  max-width: 375px;
  margin: 0 auto;
}

.header-container {
  border: 1.5px solid var(--border-color-light);
  border-radius: 0 0 8px 8px;
  width: 375px;
  height: 64px;

  background-color: var(--main-color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color .25s ease-in-out;
}

/* Стилі для темної теми */
.dark .header-container {
  border: 1.5px solid var(--border-color-dark);
}

.logo {
  width: 109px;
  height: 28px;
  margin-right: 144px;
  padding: 0;
  background-image: url('../images/logo-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image .25s ease-in-out;
}

.dark .logo {
  background-image: url('../images/logo-dark.svg');
}


.nav {
  display: none;
}

/* ========= checkbox =============== */
.checkbox {
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*   background-color: first */
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked+.slider {
  /*   background-color: second */
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input:focus+.slider {
  box-shadow: 0 0 1px blue;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background: white;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 44px;

  width: 42px;
  height: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ========== checkbox-end =========== */

.burger-menu-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

.btn-active {
  display: block;
}

.header-svg-burger {
  stroke: var(--color-accent-icon-dark);
  transition: stroke 100ms;
}

.header-svg-burger:hover,
.header-svg-burger:focus {
  stroke: #4f2ee8;
}

.dark .header-svg-burger:hover,
.dark .header-svg-burger:focus {
  stroke: orange;
}

.x-cross-menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

.x-cross-btn-svg {
  stroke: var(--color-accent-icon-dark);
  transition: stroke 100ms;
}

.x-cross-btn-svg:hover,
.x-cross-btn-svg:focus {
  stroke: #4f2ee8;
}

.dark .x-cross-btn-svg:hover,
.dark .x-cross-btn-svg:focus {
  stroke: orange;
}


/* ======================== */

.backdrop-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: hidden;

  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%,
      rgb(79, 46, 232) 18.02733987569809%,
      rgb(255, 255, 255) 100%);

  min-width: 375px;
  display: none;
  flex-direction: column;
  z-index: 50;
}

.nav-container {
  margin: 0 auto;
  height: 100vh;
}

.nav-mobil {
  margin-top: 146px;
  width: 156px;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--font-color-main);
}

.nav-item-mobil {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.home-link-mob {
  color: #fff;
}

.shopping-list-link-mob {
  display: flex;
  align-items: center;
  gap: 4px;

  margin-bottom: 17px;
  color: #fff;
  fill: #fff;
}

.active-link {
  border-radius: 36px;
  padding: 8px 16px;
  font-weight: 700;
  fill: #111;
  color: #111;
  background: #eac645;
}

.burger-menu-photo {
  margin: 0 auto;
}

.is-open {
  display: flex;
}

.is-close {
  display: none;
}



/* ===================== */

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header-container {
    width: 768px;
    height: 72px;
    padding: 22px 32px;
  }

  .logo {
    margin-right: 40px;
  }

  .nav {
    display: flex;
    margin-right: auto;

    font-weight: 500;
    font-size: 14px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .home-link {
    color: var(--font-color-main-header);
  }

  .shopping-list-link {
    color: var(--font-color-main-header);
    display: flex;
    align-items: center;
    gap: 4px;
    fill: var(--font-color-main-header);
    ;
  }

  .active-link {
    font-weight: 700;
    color: #111;
    fill: #111;
  }

  .burger-menu-btn {
    display: none;
  }

  .x-cross-menu-btn {
    display: none;
  }


  div.backdrop-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }

  .header-container {
    width: 1440px;
    height: 72px;
    padding: 19px 24px;
  }

  .logo {
    margin-right: 76px;
  }

  .shopping-list-link {
    gap: 8px;
  }
}