#to-top-button {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 50;

    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4F2EE8;
    border: 5px solid #0000;
    box-shadow: 0 0 0 5px rgba(79, 46, 232, 30%);
    border-radius: 50%;

    transition: transform 1s ease-in, opacity 0.5s ease-in;
    opacity: 0;
    visibility: hidden;
    transition: box-shadow 0.2s ease-in, opacity 0.5s ease-in;
}

.dark #to-top-button {
    background-color: #EAC645;
    box-shadow: 0 0 0 5px rgba(232, 210, 46, 0.3);
}

#to-top-button:hover {
    box-shadow: 0 0 0 5px rgba(186, 186, 186, 0.3);
}

.dark #to-top-button:hover {
    background-color: #EAC645;
    box-shadow: 0 0 0 5px rgba(186, 186, 186, 0.3);
}

#to-top-button.active {
    transform: scale(1.2);
    opacity: 1;
    visibility: visible;
}

.button-icon--arrow {
    fill: white;
}