.block_books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 75px;
    cursor: pointer;
}

.dark .block_books-title {
    color: white;
}

.dark .books_info-title {
    color: white;
}

.block_books-title {
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height, or 119% */
        letter-spacing: -0.04em;
        color: #111111;
    }

    @media screen and (min-width: 768px) {

        font-size: 48px;
        line-height: 52px;
    }
}

.block_books-colortitle {
    @media screen and (max-width: 767px) {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.04em;
        text-align: left;
        color: rgba(79, 46, 232, 1);

    }

    @media screen and (min-width: 768px) {

        font-size: 48px;
        line-height: 52px;
        color: rgba(79, 46, 232, 1);
    }
}



.books_wrapper {
    position: relative;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}

.books_image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .book-item {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 40px;
} */


.book-item:hover {

    .books_overlay {
        top: 78%;

    }
}

.books_overlay {
    position: absolute;
    height: 23%;
    width: 100%;
    left: 0px;
    top: 100%;
    padding-top: 13%;
    background: rgba(234, 198, 69, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.books_overlay-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;
    fill: rgba(17, 17, 17, 1);
}


.books_info-title {

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    line-break: auto;
    line-clamp: 180px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 4px;

}

.books_info-author {
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(180, 175, 175, 1);
}

.js-current-category {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(79, 46, 232, 1);
    text-transform: uppercase;
    white-space: nowrap;

}


.all-categories_btn {
    display: block;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 40px;
    padding: 14px 28px 14px 28px;
    border: 2px solid rgba(79, 46, 232, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .all-categories_btn {
    background-color: #111;
    color: white;
}

.all-categories_btn:hover,
.all-categories_btn:focus {
    background: rgba(79, 46, 232, 1);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(79, 46, 232, 1);
}