.shopping-side-block {
  display: none;
}

.shopping-list-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.shopping-list-title-part {
  color: #4f2ee8;
}
.empty-message {
  width: 100%;
  text-align: center;
  margin: auto;
}
.empty-message p {
  width: 244px;
  letter-spacing: -0.02em;
  color: #0009;
  margin: 120px auto auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.empty-message img {
  width: 265px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.card-list {
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  display: flex;
}

.card-book {
  width: 100%;
  border: 2px solid #4f2ee866;
  border-radius: 16px;
  padding: 25px;
  position: relative;
}
.book-card {
  margin: 0 auto;
  max-width: 100%;
}
.information-card {
  display: flex;
}
.book-cover {
  max-width: 98px;
  height: 139px;
  border-radius: 8px;
  margin-right: 20px;
  overflow: hidden;
}
.book-title {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
  font-size: 16px;
  line-height: 18px;
}
.book-category {
  letter-spacing: 0.03em;
  color: rgba(180, 175, 175, 1);
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.book-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.book-author {
  max-width: 98px;
  letter-spacing: -0.04em;
  margin-top: auto;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  color: rgba(180, 175, 175, 1);
}

.market-link {
  max-width: 136px;
  max-height: 30px;
  align-items: center;
  gap: 14px;
  margin-top: 24px;
  display: flex;
}
.market-image {
  filter: grayscale(100%);
}
.market-image:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.remove-book-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  outline: none;
}

.remove-icon {
  color: rgb(84, 49, 241);
}
.remove-icon :hover {
}

.market-place-list {
  position: absolute;
  display: flex;
  gap: 8px;
  margin-right: auto;
  bottom: 14px;
  right: 14px;
  gap: 8px;
}
.data-or-books-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-stack-image {
  max-width: 265px;
  max-height: 198px;
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
  }

  .empty-message p {
    width: 349px;
    margin-top: 140px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-message img {
    width: 349px;
  }
  .book-stack-image {
    max-width: 322px;
    max-height: 241px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-side-block {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }

  .empty-message {
    max-width: 100%;
    text-align: center;
    margin-left: 178px;
  }

  .empty-message p {
    width: 349px;
    margin-top: 140px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-message img {
    width: 349px;
  }
  .book-card {
    max-width: 996px;
  }
  .book-stack-image {
    max-width: 322px;
    max-height: 241px;
  }
}
