:root {
  --border-color-light: #fff;
  --border-color-dark: #000;
}
.shopping-side-block {
  display: none;
}

.shopping-list-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.shopping-list-title-part {
  color: #4f2ee8;
}
.empty-message {
  width: 100%;
  text-align: center;
  margin: auto;
}
.empty-message p {
  width: 244px;
  letter-spacing: -0.02em;
  color: #0009;
  margin: 120px auto auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.empty-message img {
  width: 265px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}
.shopping-list {
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  display: flex;
}
.book-card {
  margin: 0 auto;
  max-width: 100%;
}
.card-book {
  width: 100%;
  border: 2px solid #4f2ee866;
  border-radius: 16px;
  padding: 25px;
  position: relative;
}

.book-cover {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-right: 20px;
  overflow: hidden;
}
.book-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 8px;
}
.book-category {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #b4afaf;
}
.book-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}
.book-author {
  font-size: 12px;
  font-style: italic;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #b4afaf;
  display: block;
  position: absolute;
  bottom: 8px;
}
.storage-shops {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 14px;
  right: 14px;
  overflow: hidden;
  display: flex;
  gap: 8px;
}
.modals-shops img {
  filter: grayscale(100%);
  mix-blend-mode: luminosity;
  transition: transform 200ms, filter 200ms;
}

.storage-shop-img:hover,
.storage-shop-img:focus {
  mix-blend-mode: normal;
  transform: scale(1.1);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.storage-shop:hover,
.storage-shop:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.list-shop img {
  filter: grayscale(100%);
  mix-blend-mode: luminosity;
  transition: transform 200ms, filter 200ms;
}
.list-shop-img:hover,
.list-shop-img:focus {
  mix-blend-mode: normal;
  transform: scale(1.1);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.amazon:hover,
.amazon:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.book-shop {
  filter: grayscale(100%);
}

.book-shop:hover,
.book-shop:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-shop-link {
}
.list-book-shop {
}
.remove-book-btn {
}
.remove-book-btn {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 14px;
  overflow: hidden;
  background: none;
  border: none;
  outline: none;
  transition: transform 0.4s ease-in-out;
}

.remove-book-btn:active {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
  }

  .empty-message p {
    width: 349px;
    margin-top: 140px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-message img {
    width: 349px;
  }
  .book-stack-image {
    max-width: 322px;
    max-height: 241px;
  }
  .book-card {
    min-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-side-block {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }

  .empty-message {
    max-width: 100%;
    text-align: center;
    margin-left: 178px;
  }

  .empty-message p {
    width: 349px;
    margin-top: 140px;
    font-size: 18px;
    line-height: 24px;
  }

  .empty-message img {
    width: 349px;
  }

  .card-book {
    width: 100%;
    max-width: 996px;
    border: 2px solid #4f2ee866;
    border-radius: 16px;
    padding: 25px;
    position: relative;
    margin: 0 auto;
  }

  .book-card {
    min-width: 996px;
  }
}
