/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./common.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./shopping-list.css');
@import url('./modal.css');
@import url('./mobile-menu.css');
@import url('./block-home-books.css');
@import url('./category_home.css');
@import url('./supporters.css');
@import url('./preloader.css');
@import url('./scroll-up.css');
@import url('./selected_category.css');
@import url('./dark-theme.css');





:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #111;
  background-color: var(--main-color-maim);
  ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;




  --border-color-dark: #fff;
  --border-color-light: #000;
}