/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./common.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./shopping-list.css');
@import url('./modal.css');
@import url('./mobile-menu.css');
@import url('./block-home-books.css');
@import url('./category_home.css');
@import url('./supporters.css');
@import url('./preloader.css');
@import url('./scroll-up.css');
@import url('./selected_category.css');
@import url('./dark-theme.css');





:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #111;
  background-color: var(--main-color-maim);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --border-color-light: #000;
  --border-color-dark: #fff;

  transition: background-color .5s ease-in-out;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 12px;
  transition: background-color .5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CCCCCC;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #595959;

}