.mySwiper {
    width: 100%;
    height: 292px;
    /* position: relative; */
}

/* button.swiper-button-next,
button.swiper-button-prev {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;

    text-indent: -9999px;
}

.mySwiper .swiper-button-next {
    position: absolute;
    right: 50%;
    top: 275px;
    z-index: 99999;
}

.mySwiper .swiper-button-prev {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
 */

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    /* Абсолютное позиционирование */
    top: 10%;
    /* Положение от верхнего края */
    transform: translateY(-50%);
    /* Центрирование по вертикали */
    z-index: 10;
    /* Позволяет кнопкам находиться поверх других элементов */
}

.swiper-button-prev {
    left: 500px;
    /* Расположение слева */
}

.swiper-button-next {
    right: 100px;
    /* Расположение справа */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 159px;
    /* position: relative; */
}


/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* body {
    position: relative;
} */

.funds-container {
    padding: 24px 40px;
    /* position: relative; */
}

.funds-list {}

/* .swiper-wrapper {
    position: relative;
} */

.funds-title {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 40px;

}


.fund-logo {
    filter: brightness(0) invert(1);
}

.ukraine-logo {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .funds-title {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

/* .swiper {
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 0;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--swiper-theme-color);
} */