.mySwiper {
    width: 100%;
    height: 292px;
}

.button-next {
    cursor: pointer;
    width: 32px;
    min-height: 32px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    transition: transform .5s ease-in-out;
    display: flex;
    margin-top: 16px;
    transform: rotateX(0);
}

.button-next-up {
    transform: rotateX(180deg);
}

.button-next-icon {
    fill: #4F2EE8;
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    width: 159px;
}

.fund-number {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #fff;
    margin-right: 16px;
}

.funds-container {
    padding: 24px 40px;
}

.funds-title {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 40px;

}

.fund-logo {
    vertical-align: middle;
    height: 32px;
    display: inline-block;
    filter: brightness(0) invert(1);
    object-fit: cover;
}

.ukraine-logo {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .funds-title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .button-next {
        width: 38px;
        min-height: 38px;
    }

    .button-next-icon {
        width: 22px;
        height: 22px;
    }
}